

function docker-reset() {
  docker container stop $(docker container ls -aq) &&
  docker rmi $(docker images -a -q) -f &&
  docker container rm $(docker container ls -aq) -f &&
  docker rmi $(docker images -a -q) -f
}

function_exists() {
  declare -f -F $1
  return $?
}
