# Node
node_modules
npm-debug.log
bower_components
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.next
/.pnp
.swc/
.vercel


# Python
*.pyc
__pycache__/
htmlcov/
cover/
venv/
.venv/
.mypy_cache/
.pants.d/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PHP
var/
vendor/
.phpunit.result.cache
phpunit.xml

# Editor
*.code-workspace
.history/
.idea/
.vs/

# OS
Desktop.ini
ehthumbs.db
Thumbs.db
*.swp
.DS_Store

# Other
coverage/
dist/
build/
.cache/
pgdata/
