[user]
    name = Viktor Sokolov
    email = viktorsokolov.and@gmail.com

[core]
  editor = vim

[help]
  autocorrect = 20



[alias]
    a = 'add'		
    gc = 'git commit -m'
    gca = 'git commit -a'
    gco = 'git checkout'
    gcb = 'git copy-branch-name'
    gb = 'git branch'
    gs = 'git status'
    gac = 'git add -A && git commit -m'
    ge = 'git-edit-new'
    gpom = 'git push origin master'
    lg = log --color --graph --stat --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit


[url "ssh://git@github.com/"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
    insteadOf = "https://github.com/"

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = "bb:"
    pushInsteadOf = "bitbucket:"

[push]
    default = current
