[user]
    name = Viktor Sokolov
    email = viktorsokolov.and@gmail.com

[core]
	editor = vim
  	excludesfile = ~/.gitignore_global
    # Path to githooks
    hookspath="~/.githooks"

[help]
  autocorrect = 20
  autocorrect = prompt

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
  max-line-length = 700
  syntax-theme = base16
  file-decoration-style = yellow ol ul
  file-style = bold yellow ul
  hunk-header-decoration-style = blue
  hunk-header-line-number-style = purple bold
  side-by-side = true

[color]
	ui = auto

[push]
  default = current
  autoSetupRemote = true

[merge]
	tool = opendiff
	renameLimit = 0

[checkout]
	defaultRemote = origin

[stash]
	showPatch = true

[branch "master"]
    mergeoptions = --no-edit

[alias]
	a = add
	amend = commit --amend -m
	br = branch
	gc = 'commit -m'
    gca = 'commit -a'
    co = 'checkout'
    gcb = 'copy-branch-name'
    br = 'branch'
    st = 'status'
    gac = 'git add -A && git commit -m'
    ge = 'git-edit-new'
    gpom = 'git push origin master'
    lg = log --color --graph --stat --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	current = rev-parse --abbrev-ref HEAD
	branchcleanup = !git remote prune origin
	undo = reset HEAD~1
	pop = stash pop
	apply = stash apply
	sl = stash list --pretty=format:\"%C(bold red)%gd%C(dim yellow)%C(reset) %<(70,trunc)%s %C(green)(%ad)\"
	last = log -1 HEAD --stat
	recent = branch --sort=committerdate
    month = log --since='last month' --author="$(git config user.name)" --oneline

[url "ssh://git@github.com/"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
    insteadOf = "https://github.com/"
    # Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	recent = "{ count=$1; git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:=10} | column -ts'|'}; r"

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = "bb:"
    pushInsteadOf = "bitbucket:"
