init-author-name=Viktor Sokolov
init-author-email=viktorsokolov.and@gmail.com
init-author.url=https://github.com/victory-sokolov
init-license=MIT
init-version=0.0.1
fund=false
legacy-peer-deps=true
npm_config_loglevel=error
save-exact=true
