# General
alias install="sudo apt-get install"
alias remove="sudo apt-get remove"
alias reboot="sudo reboot"
alias update="sudo apt-get update && sudo apt-get upgrade && sudo apt autoremove -y"
alias path="echo -e ${PATH//:/\\n}" # print each PATH entry on a separate line
alias ls='colorls --group-directories-first'
alias ll='colorls -lA --sd --group-directories-first'
alias cls="clear"
alias chmod='chmod +x'
alias grep="grep --color=auto "
alias q="exit"
alias ctrash="sudo rm -rf ~/.local/share/Trash/files/*"
alias cp="sudo cp -i" # copy file interactive
alias mv="sudo mv -i" # move file interactive
alias rm='trash' # remove file interactive
alias version="lsb_release -r -s" # linux version
alias now="date '+%Y-%m-%d'"
alias untar="tar xvf"
alias al="compgen -a" # show all custom aliases
alias crypto="curl rate.sx" # crypto prices
alias pubkey="pbcopy < ~/.ssh/id_rsa.pub | echo 'public key copied to clipboard'" # public ssh key to clipboard
alias fhelp="grep "^function" ~/dotfiles/zsh/.functions | sed 's/function/+/g' | sed 's/() #/ - /g'" # custom available functions
alias falias="grep "^alias" ~/dotfiles/zsh/.aliases | sed 's/alias/+/g' "
alias how="howdoi $* -c" # howdoi colorised output
alias chrome="google-chrome $1" # open url in chrome
alias yt-mp3="youtube-dl -x --audio-format mp3 '$1'"

# Directory traversal
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias -- -="cd -"
alias db="cd ~/Dropbox"
alias dev="cd ~/Dropbox/Code/"
alias kn="cd ~/Dropbox/Knowledge/"
alias cw="cd ~/Dropbox/Code/Python/Projects/Client\ Work/"
alias dirs="dirs -v"

# quick edit
alias zshrc="vim ~/.zshrc"
alias bashrc="vim ~/.bashrc"
alias vimrc="vim ~/.vimrc"
alias viali="vim ~/dotfiles/zsh/.aliases"
alias reload="source ~/.zshrc"
alias v="vim"

# media
alias ytmp3="youtube-dl --extract-audio --audio-format mp3" # youtube video to mp3

# PHP
alias hosts="sudo vim /etc/hosts" # vhosts
alias php-server="php -S localhost:8000 && xdg-open http://localhost:8000 &" # build in php server
alias run-apache="sudo service mysql start && sudo service apache2 start"

# Database Settings
alias mysqldump="mysqldump -u [uname] -p[pass] [dbname] | gzip -9 > [db.sql.gz]" # dump mysql db
alias undump="gunzip < db.sql.gz | mysql -u [uname] -p[pass] db" # Restore db dump from archive


# Network
alias my-ip="curl https://ipinfo.io/ip"

# Git
alias git-https="git remote set-url origin https://github.com/$(git remote get-url origin | sed 's/https:\/\/github.com\///' | sed 's/git@github.com://')"
alias git-ssh="git remote set-url origin git@github.com:$(git remote get-url origin | sed 's/https:\/\/github.com\///' | sed 's/git@github.com://')"

# Python
alias python='python3'
alias jn="jupyter notebook"
alias pip="pip3"
alias splash-server="sudo docker run -p 8050:8050 scrapinghub/splash"
alias py-server="python -m http.server"

# Docker
alias run-splash="docker run --rm --name scrapy-splash -d -p 8050:8050 scrapinghub/splash"
alias dc="docker-compose"
alias dm="docker-machine"

# Nodejs
alias npm-restart="sudo rm -rf node_modules && npm install && npm start"

# Clipboard
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"