# General
alias install="sudo apt-get install"
alias remove="sudo apt-get remove"
alias reboot="sudo reboot"

if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    alias update="sudo apt-get update --fix-missing && sudo apt-get upgrade && sudo apt autoremove -y"
# Mac OSX
else
    alias update="sudo softwareupdate -i -a; brew update; brew upgrade";
fi

# show installed packages
alias show-installed="comm -23 <(apt-mark showmanual | sort -u) <(gzip -dc /var/log/installer/initial-status.gz | sed -n 's/^Package: //p' | sort -u)"
# Update Node, Python dependencies
alias update-deps="npx npm-check --global --update-all"
# print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n}"
# tree with ignoring specific directories
alias t="tree -CL 2 -I 'node_modules|cache|test_*|__pycache__'"
alias lt="lsd --tree -I 'node_modules|cache|test_*|__pycache__'"
alias cls="clear"
alias grep="grep --color=auto "
alias fgrep="fgrep --color=auto"
alias q="exit"
alias ctrash="sudo rm -rf ~/.local/share/Trash/files/*"
alias cp="cp -rv" # copy file recursively and explain
alias mv="mv -v" # move file and explain
alias mkdir="mkdir -pv"

if has colorls; then
    alias ls='colorls --group-directories-first'
    alias ll='colorls -lA --sd --group-directories-first'
fi

if has htop; then
    alias top="htop"
fi

if has bat; then
    alias cat="bat"
fi

if has trash-put; then
    alias rm="trash-put"
fi 

# Get os with version
if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    alias version="{ uname & lsb_release -r -s; } | paste -d ' ' -s"
else
    alias version="sw_vers"
fi

alias now="date '+%Y-%m-%d'"
alias untar="tar xvf"
alias crypto="curl rate.sx" # crypto prices

# copy public ssh key to clipboard
alias pubkey="pbcopy < ~/.ssh/id_rsa.pub | echo 'public key copied to clipboard'"

# custom available functions
alias fhelp="grep "^function" ~/dotfiles/zsh/.functions | sed 's/function/+/g' | column -t | sed 's/() #/ - /g'"
alias ahelp="grep "^alias" ~/dotfiles/zsh/.aliases | sed 's/alias/+/g'"

# howdoi colorised output
alias how="howdoi $* -c"

alias chrome="google-chrome $1" # open url in chrome
alias yt-mp3="youtube-dl -x --audio-format mp3 '$1'"
alias weather="curl -s 'wttr.in/$1?m1ī'"
alias fontlist="fc-list | cut -d: -f1 | less"

# Allow for pasting lines of code that start with a dollar sign. 
alias \$='' 

alias wget="wget -c"

# Local server with reload
alias serve="browser-sync start -s -f . --no-notify --host 0.0.0.0 --port 9000"

# copy working directory to clipboard
alias cwd="pwd | tr -d '\r\n' | xclip -selection clipboard"
# Generate uuid
alias uuid="uuidgen | pbcopy && pbpaste && echo"

# Get week number of the current year
alias week="date +%V"
# Unix timestamp
alias timestamp="date +%s"
# UTC Date
alias dateutc='date -u +"%Y-%m-%dT%H:%M:%S" | pbcopy'

# Generate random password using pwgen
alias pw="pwgen 16 -1 | xclip"

# preview files with syntax highlighting
alias pf="fzf --preview='bat --color=always --style=numbers {}' --bind shift-up:preview-page-up,shift-down:preview-page-down"

# Directory traversal
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias -- -="cd -"
alias dotfiles="cd ~/dotfiles"
alias blog="~/dev/victory-sokolov && code . && npm run dev"
alias dirs="dirs -v"

# quick edit
alias zshrc="vim ~/.zshrc"
alias bashrc="vim ~/.bashrc"
alias vimrc="vim ~/.vimrc"
alias valias="vim ~/dotfiles/zsh/.aliases"
alias reload="source ~/.zshrc"
alias v="vim"

# media
alias ytmp3="youtube-dl --extract-audio --audio-format mp3" # youtube video to mp3

# Image Optimizer
alias iow="npx @squoosh/cli --webp auto" # <file-name>
alias ioa="npx @squoosh/cli --avif auto" # <file-name>

# PHP
alias hosts="sudo vim /etc/hosts" # vhosts
alias php-server="php -S localhost:8000" # built in php server
alias run-apache="sudo service mysql start && sudo service apache2 start"
# Switch PHP version
alias php74="sudo update-alternatives --set php /usr/bin/php7.4"
alias php80="sudo update-alternatives --set php /usr/bin/php8.0"

# Symfony
alias sf='php bin/console'
alias sfs="symfony server:start --port=8082"

# Composer
alias cr="composer require"
alias cu="composer update"
alias ci="composer install"
alias cda="composer dump-autoload"
alias cdo="composer dump-autoload"
alias composer-flush="rm -rf vendor/ composer.lock && composer i"

# Mysql
alias mysqldump="mysqldump -u [uname] -p[pass] [dbname] | gzip -9 > [db.sql.gz]" # dump mysql db
alias undump="gunzip < db.sql.gz | mysql -u [uname] -p[pass] db" # Restore db dump from archive
alias msql="sudo /etc/init.d/mysql" # path to mysql executable

# PostgreSQL
alias psqls="sudo service postgresql"

# Network
alias my-ip="curl https://ipinfo.io/ip"
alias localip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ports='sudo lsof -i -P -n | grep LISTEN'


# Image optimizer
alias iow="npx @squoosh/cli --webp auto " # +file-name
alias ioa="npx @squoosh/cli --avif auto " # +file-name
alias iop="npx @squoosh/cli --oxipng auto " # +file-name

# Git
# remove the file from git and from the history
alias gri='git ls-files --ignored --exclude-standart | xargs -0 git rm -r'
alias gopen='open https://github.$(git config remote.origin.url | cut -f2 -d. | tr ':' /)'
alias amend='git commit --amend --no-edit'
# list currents repo PR's
alias prs='hub pr list -L 20 -b develop --format="%t%n - Branch: [%H]%n - %U%n - %l%n%n"'
# Git worktree
alias wt="git worktree"
# Delete all merged branches
alias gcl='git pull -q && git branch --merged | grep -Ev "(^\*|master|main)" | xargs git branch -d'

# Python
alias python="python3"
alias py="bpython"
alias jn="jupyter notebook"
alias server="python -m http.server"
alias encode='python -c "import urllib.parse, sys; print(urllib.parse.quote(sys.argv[1]))"'
alias decode='python -c "import urllib.parse, sys; print(urllib.parse.unquote(sys.argv[1]))"'
# find all virtual envs in system
alias venvs="find -O3 $HOME -name '*activate' -type f"
alias pip="python -m pip"
alias pir="python -m pip install -r requirements.txt"
alias pfr="(pip freeze | grep -v 'pkg-resources') > requirements.txt"

# Django
alias drs="python manage.py runserver"
alias dm="python manage.py migrate"
alias dmm="python manage.py makemigrations"
alias ds="python manage.py shell"
alias dt="python manage.py test"
alias su="python manage.py createsuperuser"
alias djs="django-admin startproject"
alias django-reset-db="python manage.py reset_db --noinput --close-sessions"

# Docker
alias dc='docker-compose'
alias dm='docker-machine'
alias dcup='docker-compose up -d'
alias dstop='docker stop $(docker ps -q)'
# Get container IP address by container ID
alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"
# Stop and remove all containers
alias dclean='dstop && docker rm -f $(docker ps -q -a)'

# NPM
alias npm-flush="sudo rm -rf node_modules/ build package.lock && npm i && npm start"
alias nlg='npm list -g --depth=0'
alias nrd="npm run dev"
alias nrt="npm run test"
alias nbs="npm run build && npm start"
alias npk="npx npkill" #clean unused node_modules

# Yarn
alias y='yarn'
alias yd='yarn dev'
alias ya='yarn add'
alias ys='yarn start'

# Poetry
# Check outdated Poetry packages
alias plo="poetry show --outdated | grep --file=<(poetry show --tree | grep '^\w' | cut -d' ' -f1)"
# Install deps from requirements and skip commented
alias pir="sed -e '/^#/d' requirements.txt | xargs poetry add"
alias pshell="poetry shell"

# Clipboard
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"

# Suffix Aliases
alias -s {py,go,js,ts}="vim"
