# print each PATH entry on a separate line
alias path='echo $PATH | sed -e "s/:/\n/g" | fzf'
# tree with ignoring specific directories
alias t="tree -CL 2 -I 'node_modules|cache|test_*|__pycache__'"
alias cls="clear"
alias q="exit"
alias ctrash="sudo rm -rf ~/.local/share/Trash/files/*"
alias cp="cp -rv" # copy file recursively and explain
alias mv="mv -v" # move file and explain
alias mkdir="mkdir -pv"
alias fs="stat -f \"%z bytes\"" # File size
alias curl="curl --compressed"
alias dif="delta --pager 0 --diff-so-fancy" # Pretty diff command
# shortcut to open vim and immediately update vim-plug and all installed plugins
alias vimu="nvim --headless \"+Lazy! sync\" +qa"
# Copy previous command
alias hy="fc -ln 0 | awk '!a[\$0]++' | fzf --tac | xclip -selection clipboard"
alias now="date '+%Y-%m-%d'"
alias untar="tar xvf"
alias crypto="curl rate.sx" # crypto prices
alias rmf="rip"

if _has rg; then
    alias grep="rg --smart-case --hidden --no-heading --column --line-buffered"
else
    alias grep="grep --color=auto --line-buffered"
    alias fgrep="fgrep --color=auto --line-buffered"
fi

if _has nvim; then
    alias vim="nvim"
fi

if _has lsd; then
    alias ls="lsd -F --group-directories-first"
    alias l="ls -l"
    alias la="ls -a"
    alias lla="ls -la"
    alias lts="ls --tree -a -I node_modules -I dist -I .git"
fi

if _has htop; then
    alias top="htop"
fi

if _has bat; then
    alias cat="bat"
fi

# copy public ssh key to clipboard
alias pubkey="pbcopy < ~/.ssh/id_rsa.pub | echo 'public key copied to clipboard'"

# custom available functions
alias ahelp="rg -N '^alias [^_]' $DOTFILES/zsh/.aliases | sed 's/alias //g' | fzf" 

# YouTube DLL
alias yt-mp3="yt-dlp -x --audio-format mp3 --audio-quality 0"
alias yt-mp4="yt-dlp -f 'bestvideo[ext=mp4][vcodec^=avc1]+bestaudio[ext=m4a]/best[ext=mp4]' --merge-output-format mp4 $1"

# Generate random password using pwgen
alias pw="pwgen 16 -1 | pbcopy"

alias weather="curl -s 'https://wttr.in/$1?m1ī'"
alias fontlist="fc-list | cut -d: -f1 | fzf"

# Allow for pasting lines of code that start with a dollar sign. 
alias \$='' 

alias wget="wget -c"

# Local server with reload
alias serve="browser-sync start -s -f . --no-notify --host 0.0.0.0 --port 9000"

# Generate uuid
alias uuid="uuidgen | pbcopy && pbpaste && echo"

# Get week number of the current year
alias week="date +%V"
# Unix timestamp
alias timestamp="date +%s"
# UTC Date
alias dateutc='date -u +"%Y-%m-%dT%H:%M:%S" && echo | pbcopy'

# preview files with syntax highlighting
alias fz="fzf --preview='bat --color=always --style=numbers {}' --bind shift-up:preview-page-up,shift-down:preview-page-down"

# Directory traversal
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias dotfiles="cd ~/dotfiles"
alias ic='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
alias blog="~/dev/viktorsokolov && code . && yarn run dev"
alias dirs="dirs -v"

# quick edit
alias zshrc="vim $DOTFILES/zsh/.zshrc"
alias vimrc="vim ~/.vimrc"
alias valias="vim $DOTFILES/zsh/.aliases"
alias reload="exec zsh && tmux source-file ~/.tmux.conf"
alias v="vim"
# FZF open file in vim
alias vo="fd --type f --hidden --exclude .git | fzf-tmux -p | xargs nvim"
alias hosts="vim /etc/hosts" # vhosts

# Image Optimizer
alias iow="npx @squoosh/cli --webp auto" # <file-name>
alias ioa="npx @squoosh/cli --avif auto" # <file-name>
alias iop="npx @squoosh/cli --oxipng auto " # +file-name

# Mysql
alias mysqldump="mysqldump -u [uname] -p[pass] [dbname] | gzip -9 > [db.sql.gz]" # dump mysql db
alias undump="gunzip < db.sql.gz | mysql -u [uname] -p[pass] db" # Restore db dump from archive
alias msql="sudo /etc/init.d/mysql" # path to mysql executable

# PostgreSQL
alias pg="psql postgres"

# Network
alias myip="curl https://ipinfo.io/ip"
alias localip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ports="sudo lsof -i -P -n | grep LISTEN"

alias gopen="open https://github.$(git config remote.origin.url | cut -f2 -d. | tr ':' /)"

# Python
alias python="python3"
alias py="bpython"
alias jn="jupyter notebook"
alias server="python -m http.server"
alias encode='python -c "import urllib.parse, sys; print(urllib.parse.quote(sys.argv[1]))"'
alias decode='python -c "import urllib.parse, sys; print(urllib.parse.unquote(sys.argv[1]))"'
# find all virtual envs in system
alias venvs="rg -l 'virtualenv|venv.*activate$' $HOME | fzf"
alias pip="python -m pip"
alias pir="python -m pip install -r requirements.txt"
alias pfr="(pip freeze | grep -v 'pkg-resources') > requirements.txt"
# debugpy manage.py path.to.file.py
alias debugpy="python -m debugpy --listen 0.0.0.0:5678"

# Django
alias drs="python manage.py runserver"
alias dm="python manage.py migrate"
alias dmm="python manage.py makemigrations"
alias ds="python manage.py shell"
alias dt="python manage.py test"
alias su="python manage.py createsuperuser"
alias djs="django-admin startproject"
alias dj-test="python manage.py test"
alias dj-reset-db="python manage.py reset_db --noinput --close-sessions"
# Watch for test changes and re-run tests. Provide test file
alias dj-watch="rg --files --type-add 'python3:*.py' --type python3 | entr python3 ./manage.py test"

# Tmux
# Create tmux session with current dir name
 

# Docker
alias d="docker"
alias dc="docker compose"
alias dps="docker ps --format 'table 👾 {{.ID}} \t {{.Names}} \t {{.Status}} \t {{.Ports}}'"
alias dstat='docker ps -q | xargs docker stats --no-stream --format "table {{.Container}}\t{{.Name}}\t{{.CPUPerc}}\t{{.MemUsage}}\t{{.MemPerc}}"'
alias di="docker images | docker-color-output"
alias docker-compose="docker compose"
alias dcup="docker compose up -d --remove-orphans"
alias dcdown="docker compose down -v --remove-orphans"
alias dstop="docker stop $(docker ps -a -q)"
alias dprune="docker system prune -a -f --volumes && docker builder prune"
# Remove untagged images
alias drmnone='docker rmi -f $(docker images -f "dangling=true" -q)'
# Get all containers IP addresses
alias dips="docker ps -q | xargs -n 1 docker inspect --format '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{ .Name }}' | sed 's/ \// /' | rg -v ' k8s'"
# Get container IP address by container ID
alias dip="docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}'"
# Stop and remove all containers
alias dclean='dstop && dcdown && docker rm -f $(docker ps -q -a) && dprune'

# Kubernetes
alias kubectl="kubecolor"
alias kc="minikube kubectl --"
alias kube-start="minikube start --driver=docker --no-vtx-check"
alias k="kubecolor"
alias ka="kubectl apply -f"

# Terraform
alias tfa="terraform apply -auto-approve"

# NPM
alias npm-update="npx npm-check-updates -u"
alias npm-check="npx npm-check -u"
alias nlg="npm list -g --depth=0"
alias nrd="npm run dev"
alias nrt="npm run test"
alias nbs="npm run build && npm start"
alias npk="npx npkill" # clean unused node_modules
alias npm-clean="npm cache clean --force && yarn cache clean && pnpm store prune"

# Yarn
alias y="yarn"
alias yd="yarn dev"
alias ya="yarn add"
alias ys="yarn start"
alias yout="yarn outdated"

# PNPM
alias p="pnpm"
alias pad="pnpm add --save-dev"

# Poetry
# Check outdated Poetry packages
alias plo="poetry show --outdated | grep --file=<(poetry show --tree | grep '^\w' | cut -d' ' -f1)"
# Install deps from requirements and skip commented
alias pir="sed -e '/^#/d' requirements.txt | xargs poetry add"
alias pshell="poetry shell"
alias pclear="poetry cache clear --all pypi && python -m pip cache purge"

alias frepomix="$DOTFILES/scripts/fzf_repomix.sh"

# JS & Node
alias remove_console_log="sed -i '' '/console.log(.*)/d' */**.{ts,js,tsx,jsx}"

# Mac setup for pomodoro
# Requires:
    # brew install caarlos0/tap/timer
    # brew install terminal-notifier
alias work="timer 60m && terminal-notifier -message 'Pomodoro'\
        -title 'Work Timer is up! Take a Break 😊'\
        -appIcon '~/Pictures/pumpkin.png'\
        -sound Crystal"
        
alias rest="timer 10m && terminal-notifier -message 'Pomodoro'\
        -title 'Break is over! Get back to work 😬'\
        -appIcon '~/Pictures/pumpkin.png'\
        -sound Crystal"

# Suffix Aliases
alias -s {py,go,js,ts}="vim"

alias _update="omz update; npm update -g; npm-clean; nvim --headless '+Lazy! sync' +qa; pclear"
